body {
  margin: 0;
  padding: 0;
  background-color: #b3b3ff;
}
p{
  font-size: 36px;
  font-weight: 900;

  font-family: sans-serif;
text-align: center;
margin: 0;
padding: 0;
padding-top: 24px;
}
#h{
  background-color: #9999ff;
}
#h div{
  height: 100px;
  border: solid 5px #ffccff;

}
#a{
  width: 100px;
  background-color: #ecb3ff;
}
#b{
  width: 200px;
  background-color: #ff99ff;

}
#c{
  width: 300px;
  background-color: #d966ff;
}

#v div{
    width: 100px;
    border: solid 5px #ffccff;
    display: inline-block;
    vertical-align: bottom;
}
#v{
  background-color: #cc99ff;
}

#av{
  height: 100px;
  background-color: #ecb3ff;
}
#bv{
  height: 200px;
  background-color: #ff99ff;

}
#cv{
  height: 300px;
  background-color: #d966ff;
}


#in{
  background-color: #cc99ff;

}

#in div{
margin: 0 auto;
padding-top: 50px;

}

#ai{
  width: 300px;
  height: 250px;
  background-color:#d98cb3;
  border-radius: 50px

}
#bi{
  width: 200px;
  height: 150px;
  background-color: #ff99ff;
  border-radius: 50px;
  border: solid 4px #602040;

}
#ci{
  width: 100px;
  height: 50px;
  background-color: #d966ff;
  border-radius: 50px;
  border: solid 4px #602040;
}
