body{
  margin: 0;
  padding: 0;
}

div{
  overflow: visible;
  position: relative;
}

.esquerra{
  float: left;
}

.dreta{
  float: right;
}


.cap{
  width: 500px;
  height: 500px;
  background-color: #ffe6e6;
  margin: 0 auto;
  border-radius: 0px 0px 300px 300px;
  position: relative;
  top: -550px;
}
#flequi{
  width: 250px;
  height: 100px;
  background-color: black;
  border-radius: 0 0 100px 0;
  float:left;
}
#flequi1{
  width: 250px;
  height: 100px;
  background-color: yellow;
  border-radius: 0 0 0 100px;
  float:left;
}
.pelo{
  background-color: black;
  height: 690px;
  width: 300px;
  border-radius: 90px 0 0;
  box-shadow: inset #262626 2px 5px;

}

.pel{
  height: 690px;
  width: 600px;
  background-color: yellow;
  border-radius: 120px 120px 0 0;
  box-shadow: inset #b3b300 10px 10px 10px;
  margin: 0 auto;
}

.ulls{
  height: 100px;
  background-color: ;
}

.celles{
  bottom: -20px;
  height: 20px;
  background-color: ;
}

.cella{
  height: 20px;
  background-color: brown;
  width: 200px;
  margin: 0 25px;
  border-radius: 10px 10px 3px 3px;
  box-shadow: 10px
}

.cella{
  background-color: ;
  box-shadow:  inset 0px  4px 4px  4px rgb(210, 172, 114);
}


.parpelles{
 height: 60px;
 background-color: ;
 clear: both;
 margin: 0;
 top: 5px;
}

.parpella{
 width: 90px;
 height: 90px;
 background-color: #FFFFFF;
 margin: 0  75px;
 border-radius: 100px 100px 100px 100px;
 bottom: -20px;


}

.pestanyes{
height: 100px;
margin: 0 70px;
background-color: ;
bottom: -20px;

}

.pestanya{
  background-color: ;
  height: 40px;
  width: 80px;
  margin: 0px;
  top: -80px;
  border-top: solid black 20px;
  border-bottom: solid black 20px;
  border-radius: 90px;


}

.pupiles{
  height: 80px;
  background-color: ;
  top: -130px;
  bottom: -20px;

}

.pupila{
  width: 20px;
  height:20px;
  background-color: brown;
  border-radius: 50px 50px 50px;
  top: -50px;
  margin-left: 110px;
  margin-right: 110px;

}

.irisos{
  height: 80px;
  background-color: ;
  top: -140px;

}

.iris{
  width: 40px;
  height:40px;
  background-color: black;
  border-radius: 50px 50px 50px;
  top: 20px;
  margin-left: 100px;
  margin-right: 100px;
}

.orelles{
    background-color: ;
    height: 55px;

}

.orella{
    width: 25px;
    height: 60px;
    background-color: pink;
    top: -120px;
    right: -70px;
    border-radius: 10px 10px 10px 10px;
}

.nas{
  background-color: pink;
  width: 50px;
  height: 50px;
  position: relative;
  top: 100px;
  right: -220px;
  border-radius: 10px 10px 10px 10px;
}

.foratnas{
  background-color: #ff8080;
  width: 10px;
  height: 10px;
  top: -140px;
  left: -10px;
  border-radius: 10px 10px 10px 10px;
}

.boca{
  background-color:black;
  border-style: #ff99e6;
  width: 100px;
  height: 5px;
  position: relative;
  top: 150px;
  left: 190px;
  border-radius: 5px 5px 5px 5px;
  background-color: black;
  border:solid 8px #ff99e6;
  border-radius: 5px 5px 5px 10px;
  animation: abajo;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1000;
  animation-direction: normal;
}
@keyframes abajo{
  0%{
    top: 90;
    left: 200;
  }
  25%{
    top: 120px;
    left: 200;
  }
  50%{
    top: 140;
    left: 200px;
  }
  75%{
    top: 160;
    left: 200px;
  }
  100%{
    top: 170;
    left: 200px;
  }

}


.pest_esqu{
  left: 270px;
}

.orella_esqu{
  left: -25px;
}
.orella_Dret{
  right: -25px;
}


.pest_Dret{
  right: 270px;
}
