body{
  background-color: blue;
  margin: 0;
  padding: 0;
}
.lluna{
  width: 200px;
  height: 200px;
  background-color: blue;
  border-radius: 100px;
  box-shadow: 300px 5px 0;
  animation-name: solete;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: 1000;
  animation-delay: 1s;
  animation-direction: normal;
  }
  @keyframes solete{
  0%{
    top:0;
    right: 0;
  }
  25%{
    top:0;
    right: 0;
    box-shadow: 200px 0 0 orange;
  }
  50%{
    top:0;
    right: 0;
    box-shadow: 100px 0 0 orange;
  }
  75%{
    top:0;
    right: 0;
    box-shadow: 50px 0 0 orange;
  }
  100%{
    top:0;
    right: 0;
    box-shadow: 0 0 0 orange;
  }
  }
#piramide{
     width: 0;
     height: 0;
     border-right: 400px solid transparent;
     border-top: 400px solid transparent;
     border-left: 400px solid transparent;
     border-bottom: 400px solid #f0ad4e;
     position: relative;
     margin-top: -650px;
}

#piramide1{
     width: 0;
     height: 0;
     border-right: 500px solid transparent;
     border-top: 500px solid transparent;
     border-left: 500px solid transparent;
     border-bottom: 500px solid #e05638;
     position: relative;
     top: -1000px;
     left: 250px;
}
#piramide2{
     width: 0;
     height: 0;
     border-right: 600px solid transparent;
     border-top: 600px solid transparent;
     border-left: 600px solid transparent;
     border-bottom: 600px solid #eee594;
     position: relative;
     top: -2200px;
     left: 435px;
     z-index: -1;
}
#piramide3{
     width: 0;
     height: 0;
     border-right: 400px solid transparent;
     border-top: 400px solid transparent;
     border-left: 400px solid transparent;
     border-bottom: 400px solid #f0ad4e;
     position: relative;
     top: -3000px;
     left: 1100px;
}
.nube{
  animation-name: movientonaranja2;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;

  }
  @keyframes movientonaranja2{
  0%{
    left: 0;
  }
  100%{
    left: 1000px;
  }
  }
#nube{
  width: 300px;
  height: 125px;
  background-color: rgb(251, 251, 251);
  border-radius: 125px;
  position: relative;
  left: 300px;
  box-shadow: inset 10px 10px 5px 0px rgba(160,192,232,1);
}
#nube1{
  width: 150px;
  height: 150px;
  border-radius: 125px;
  top: -200px;
  left: 350px;
  background-color: rgb(251, 251, 251);
  position: relative;
}
#nube2{
  width: 100px;
  height: 100px;
  border-radius: 125px;
  top: -320px;
  left: 450px;
  background-color: rgb(251, 251, 251);
  position: relative;
}

.nubecita{
  width: 300px;
  height: 125px;
  background-color: rgb(251, 251, 251);
  border-radius: 125px;
  position: relative;
  left: 1200px;
  top: -340px;
  box-shadow: inset 10px 10px 5px 0px rgba(160,192,232,1);
  animation-name: movientonaranja;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
@keyframes movientonaranja{
  0%{
    left:0;
  }
  100%{
    left: 1600px;
  }
}
#nubecita1{
  width: 150px;
  height: 150px;
  border-radius: 125px;
  top: -80px;
  left: 30px;
  background-color: rgb(251, 251, 251);
  position: relative;
}


#nubecita2{
  width: 100px;
  height: 100px;
  border-radius: 125px;
  top: -210px;
  left: 140px;
  background-color: rgb(251, 251, 251);
  position: relative;

}

/* ----------------------flors ---------------------- */

.flor{
   display: inline-block;
   position: relative;
   margin-left: 100px;
   height: 500px;
   left: 200px;
   top: -2750px;
   z-index: 50;
}

.flor .giro{
   position: relative;
   width: 300px;
   height: 300px;
   top: -500px;
   animation-name: flor;
   animation-duration: 5s;
   animation-timing-function: ease;
   animation-iteration-count: infinite;
   transform-origin: 0px 110px;
}

@keyframes flor{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

.flor .petal{
  width: 100px;
  height: 100px;
  background-color: rgb(223, 154, 235);
  border-radius: 100px 0 100px 0;
  position: relative;
}

.flor .centre{
  width: 50px;
  height: 50px;
  background-color: rgba(207, 121, 59, 0.85);
  border-radius: 25px;
  top:-720px;
  position: relative;
  left: -25px;
}

.flor .rabo{
  width: 20px;
  height: 150px;
  background-color: green;
  margin-top: -700px;
  margin-left: -20px;
}


.p2{
  transform: translateY(-100px) rotate(0deg);
  transform-origin: 0 100px;
  background-color: rgb(209, 115, 226);
}
.p3{
  transform:translateY(-200px)rotate(60deg);
  transform-origin: 0 100px;
  background-color: rgb(209, 115, 226);
}
.p4{
  transform:   translateY(-300px) rotate(120deg);
  transform-origin: 0 100px;
  background-color: rgb(209, 115, 226);
}
.p5{
  transform:   translateY(-400px) rotate(180deg);
  transform-origin: 0 100px;
  background-color: rgb(209, 115, 226);
}
.p6{
  transform:   translateY(-500px) rotate(240deg);
  transform-origin: 0 100px;
  background-color: rgb(209, 115, 226);
}
.p7{
  transform:   translateY(-600px) rotate(300deg);
  transform-origin: 0 100px;
  background-color: rgb(209, 115, 226);
}
.p8{
  transform:   translateY(-700px) rotate(360deg);
  transform-origin: 0 100px;
  background-color: rgb(209, 115, 226);
}

.casa{
  position: relative;
  z-index: 1;
  top: -3490px;
}

.pared{
  width: 120px;
  height: 120px;
  background-color: pink;
  margin-top: -130px;
  position: relative;
  left: 360px;
   background-image: repeating-linear-gradient(#990000, #800000 10%, #595959 20%);
}
.techo{
     width: 0;
     height: 0;
     border-right: 61px solid transparent;
     border-top: 61px solid transparent;
     border-left: 61px solid transparent;
     border-bottom: 61px solid #640606;
     margin-top: -240px;
     left: 359px;
     position: relative;
}

.Chimenea{
  width: 30px;
  height: 50px;
  background-color: #640606;
  position: relative;
  left: 427px;
  margin-top: -50px;
}

#humo{
  position: relative;
  margin-top: -3650px;
  left: 380px;
  z-index: 0;
  animation-name: moviment;
  animation-duration: 10s;
  animation-iteration-count: 3;
}
#humo li{
  width: 30px;
  height: 40px;
  border-radius: 15px;
  background-color: rgba(100,100,100,0.8);
  list-style-type: none;
}
.Huno{
  animation-name: desvanecer;
  animation-duration: 8s;
  animation-delay: 1s;
}
.Hdos{
  animation-name: desvanecer;
  animation-duration: 8s;
  animation-delay: 2s;
}
.Htres{
  animation-name: desvanecer;
  animation-duration: 8s;
  animation-delay: 3s;
}
.Hcuatro{
  animation-name: desvanecer;
  animation-duration: 8s;
  animation-delay: 4s;
}
@keyframes moviment{
  0%{
    top: 0;
  }
  100%{
    top: -200px;
  }
}
@keyframes desvanecer{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
#ventana1{
  width: 30px;
  height: 30px;
  background-color: #ffffe6;
  position: relative;
  left:380px;
  top: 29px;
}
#ventana2{
  width: 30px;
  height: 30px;
  background-color:  #ffffe6;
  position: relative;
  left: 435px;
}
.puerta{
  width: 40px;
  height: 50px;
  background-color: black;
  position: relative;
  left: 400px;
  border-radius: 5px;
  top: 10px;
}
.pomo{
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: red;
  position: relative;
  left: 422px;
  top: -19px;
}

.nieves{
  width: 350px;
  height: 20px;
  position: relative;
  top: -800px;
  left: 300px;
  margin: 20px 20px;
}
.nieve{
  width: 10px;
  height: 10px;
  border-radius: 5px 5px 5px 5px;
  background-color: pink;
  display: inline-block;
  margin: 10px;
  position: relative;
}
@keyframes nieve {
  0%{
    top: 0;
    left: 0px;
  }
  50%{

    left: 20px;
  }
  100%{
    top: 500px;
    left: 0px;
  }
}
.Nuno1{
  animation-name: nieve;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier();
  animation-iteration-count: infinite;
}
.Ndos2{
  animation-name: nieve;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier();
  animation-iteration-count: infinite;
}
.Ntres3{
  animation-name: nieve;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier();
  animation-iteration-count: infinite;
}
.Ncuatro4{
  animation-name: nieve;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier();
  animation-iteration-count: infinite;
}
.Ncinco5{
  animation-name: nieve;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier();
  animation-iteration-count: infinite;
}
.Nseis6{
  animation-name: nieve;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier();
  animation-iteration-count: infinite;
}
.Nsieste7{
  animation-name: nieve;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier();
  animation-iteration-count: infinite;
}
