#page1.gwd-play-animation .gwd-motion-path-1317-anim-x {
  --gwd-motion-path: {
    "tangentFollowing": false, "sections": [ {
      "controlPoints": ["179.89px", "-95.53px", "179.59px", "-98.02px", "179.3px", "-100.51px", "179px", "-103px"], "startTimeMs": 0, "endTimeMs": 100, "easing": "linear"
    }
    , {
      "controlPoints": ["179px", "-103px", "179px", "-103px", "179px", "-103px", "179px", "-103px"], "startTimeMs": 100, "endTimeMs": 500, "easing": "linear"
    }
    , {
      "controlPoints": ["179px", "-103px", "179px", "-103px", "179px", "-103px", "179px", "-103px"], "startTimeMs": 500, "endTimeMs": 600, "easing": "linear"
    }
    , {
      "controlPoints": ["179px", "-103px", "179px", "-103px", "179px", "-103px", "179px", "-103px"], "startTimeMs": 600, "endTimeMs": 1100, "easing": "linear"
    }
    , {
      "controlPoints": ["179px", "-103px", "180.67px", "-72px", "182.33px", "-41px", "184px", "-10px"], "startTimeMs": 1100, "endTimeMs": 1500, "easing": "linear"
    }
    , {
      "controlPoints": ["184px", "-10px", "197.33px", "-10.67px", "210.67px", "-11.33px", "224px", "-12px"], "startTimeMs": 1500, "endTimeMs": 1600, "easing": "linear"
    }
    , {
      "controlPoints": ["224px", "-12px", "196.47px", "-62.98px", "246.63px", "-41.08px", "261px", "-23px"], "startTimeMs": 1600, "endTimeMs": 2000, "easing": "linear"
    }
    , {
      "controlPoints": ["261px", "-23px", "233.67px", "-49.67px", "325.33px", "3.67px", "298px", "-23px"], "startTimeMs": 2000, "endTimeMs": 2500, "easing": "linear"
    }
    , {
      "controlPoints": ["298px", "-23px", "258.33px", "-49.67px", "379.67px", "3.67px", "340px", "-23px"], "startTimeMs": 2500, "endTimeMs": 3000, "easing": "linear"
    }
    , {
      "controlPoints": ["340px", "-23px", "286.33px", "-49.67px", "232.67px", "-76.33px", "179px", "-103px"], "startTimeMs": 3000, "endTimeMs": 3200, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation:gwd-motion-path-1317-keys-x 3.2s linear 0s infinite normal forwards running;
  transform:translate3d(179.89px, 0px, 0px);
}
@keyframes gwd-motion-path-1317-keys-x {
  0% {
    transform: translate3d(179.89px, 0px, 0px);
  }
  3.13% {
    transform: translate3d(179px, 0px, 0px);
  }
  15.63% {
    transform: translate3d(179px, 0px, 0px);
  }
  18.75% {
    transform: translate3d(179px, 0px, 0px);
  }
  34.38% {
    transform: translate3d(179px, 0px, 0px);
  }
  46.88% {
    transform: translate3d(184px, 0px, 0px);
  }
  50% {
    transform: translate3d(224px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.1165, 0.2084, 0.7524, 1.7993);
  }
  54.69% {
    transform: translate3d(217.38px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.3282, 0.3295, 0.6189, 0.7131);
  }
  62.5% {
    transform: translate3d(261px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.6391, -2.4795, 0.5668, -0.2509);
  }
  66.8% {
    transform: translate3d(265.23px, 0px, 0px);
  }
  76.17% {
    transform: translate3d(303.15px, 0px, 0px);
  }
  78.13% {
    transform: translate3d(298px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.6765, -4.4101, 0.4675, -1.7176);
  }
  82.42% {
    transform: translate3d(301.25px, 0px, 0px);
  }
  91.41% {
    transform: translate3d(346.85px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.0543, -0.7086, 0.919, 0.9952);
  }
  93.75% {
    transform: translate3d(340px, 0px, 0px);
  }
  100% {
    transform: translate3d(179px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-1317-anim-y {
  animation: gwd-motion-path-1317-keys-y 3.2s linear 0s infinite normal forwards running;
  transform: translate3d(0px, -95.53px, 0px);
}
@keyframes gwd-motion-path-1317-keys-y {
  0% {
    transform: translate3d(0px, -95.53px, 0px);
  }
  3.13% {
    transform: translate3d(0px, -103px, 0px);
  }
  15.63% {
    transform: translate3d(0px, -103px, 0px);
  }
  18.75% {
    transform: translate3d(0px, -103px, 0px);
  }
  34.38% {
    transform: translate3d(0px, -103px, 0px);
  }
  46.88% {
    transform: translate3d(0px, -10px, 0px);
  }
  50% {
    transform: translate3d(0px, -12px, 0px);
  }
  54.06% {
    transform: translate3d(0px, -36.86px, 0px);
    animation-timing-function: cubic-bezier(0.2416, -1.3371, 0.8439, 0.6138);
  }
  62.5% {
    transform: translate3d(0px, -23px, 0px);
    animation-timing-function: cubic-bezier(0.4274, 17.9082, 0.3058, 12.08);
  }
  69.92% {
    transform: translate3d(0px, -23.65px, 0px);
  }
  70.7% {
    transform: translate3d(0px, -22.35px, 0px);
    animation-timing-function: cubic-bezier(0.6942, -11.08, 0.5726, -16.9082);
  }
  78.13% {
    transform: translate3d(0px, -23px, 0px);
    animation-timing-function: cubic-bezier(0.4427, 18.2215, 0.2848, 12.367);
  }
  85.55% {
    transform: translate3d(0px, -23.64px, 0px);
  }
  86.33% {
    transform: translate3d(0px, -22.36px, 0px);
    animation-timing-function: cubic-bezier(0.7152, -11.367, 0.5573, -17.2215);
  }
  93.75% {
    transform: translate3d(0px, -23px, 0px);
  }
  100% {
    transform: translate3d(0px, -103px, 0px);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}